<!DOCTYPE html>
<html>
<head>
<title>Hostel Complaint system</title>
<link href="/static/Hostel/warden_homect.css" rel="stylesheet" >
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<!-- jQuery library -->


<!-- Latest compiled JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
  
        
      <header>
        <div class="container">
          <nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan">
            <a class="navbar-brand font-bold" href="{% url 'warden-home'%}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'warden-students' %}" class="nav-link" href="#">Students</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warden-caretakers' %}" class="nav-link" href="#">Caretaker</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warden-addcaretaker' %}" class="nav-link" href="#">Add Caretaker</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'contact-page' %}"  id="open-popup-btn"><i class="fa fa-envelope"></i> Contact </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{request.user.get_full_name}} </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="{% url 'change-pass' %}">Change Password</a>
                            <a class="dropdown-item" href="{% url 'user-logout' %}"">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
      </header>
           
     
      <!---->
      <main>
      <div class="container my-5">
      {% for message in messages %}
      <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
      </div>
      </div>
      {% endfor %}
        <div class="card-body text-center">
          <div><h4 class="card-title"> Caretakers Applicants </h4>
          </div>
          
        </div>
          <div class="card">            
              <div class="fixedTableHead">
                <table class="table table-hover" >
                  <thead >
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Add Caretaker</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for caretaker in caretakers %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{caretaker.user.get_full_name}}</td>
                      <td>{{caretaker.user.username}}</td>
                      <td>{{caretaker.mobile}}</td>
                      <td>
                          <a class="btn btn-sm btn-primary" href="{% url 'add-caretaker' caretaker.id %}" id="open-popup-btn"><i class="fa fa-trash"></i> Add as Caretaker</a>    
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
          </div>      
          </div>
      </main>

          <footer >
            <div class="container bg-cyan p-5">
          
              </div>
          </footer>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

